.well.tweetbox {
    background-color: #ffffff;
    border: none;
    padding: 0px;
}

.well.tweetbox blockquote {
    margin: 0;
    padding: 10px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
}

.colophon {
  font-size: 75%;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #EDA5A6;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #EDA5A680;
}