.well.tweetbox {
    background-color: #f5f5f54d;
    border: 3px solid #b0b0b0;
    border-radius: 4px;
}

.well.tweetbox blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
}

.colophon {
  font-size: 75%;
}